.random-images {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#gallery {
  margin: 0 auto;
}

.list-item {
  margin-bottom: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
